Repository IU-Capstone-Project-2025/edhub, pull requests merged in 2025-07, with the labels that each got.

#68 Release Week 4.1: File Attachments, CI/CD Setup
  .github/workflows/curltests.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/curltests.sh
  backend/json_classes.py
  backend/logic/assignments.py
  backend/logic/logging.py
  backend/logic/materials.py
  backend/logic/submissions.py
  backend/logic/uploading.py
  backend/main.py
  backend/repo/assignments.py
  backend/repo/materials.py
  backend/repo/submissions.py
  backend/repo/teachers.py
  backend/requirements.txt
  backend/routers/assignments.py
  backend/routers/materials.py
  backend/routers/submissions.py
  database/initialize.sql
  docker-compose.prod.yml
  nginx-prod/Dockerfile
  nginx-prod/default.conf
Labels: backend, database, devops

#70 pull request of newer frontend, functionality
  backend/json_classes.py
  frontend/src/App.js
  frontend/src/components/CourseFeed.jsx
  frontend/src/components/CreateCourse.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LeaveCourse.jsx
  frontend/src/components/noavatar.svg
  frontend/src/pages/AssignmentPage.jsx
  frontend/src/pages/AuthPage.jsx
  frontend/src/pages/CoursePage.jsx
  frontend/src/pages/CoursesPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MaterialPage.jsx
  frontend/src/styles/AuthPage.css
  frontend/src/styles/CoursePage.css
  frontend/src/styles/Header.css
  frontend/src/styles/LandingPage.css
Labels: frontend

#71 Added ability as a parent to see child's submission and details, and …
  frontend/src/pages/AssignmentPage.jsx
Labels: frontend

#73 Release Week 4.1: Frontend Improvement
  .github/workflows/curltests.yml
  backend/json_classes.py
  frontend/src/App.js
  frontend/src/components/CourseFeed.jsx
  frontend/src/components/CreateCourse.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LeaveCourse.jsx
  frontend/src/components/noavatar.svg
  frontend/src/pages/AssignmentPage.jsx
  frontend/src/pages/AuthPage.jsx
  frontend/src/pages/CoursePage.jsx
  frontend/src/pages/CoursesPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MaterialPage.jsx
  frontend/src/styles/AuthPage.css
  frontend/src/styles/CoursePage.css
  frontend/src/styles/Header.css
  frontend/src/styles/LandingPage.css
Labels: frontend, devops

#74 curltests name added
  .github/workflows/curltests.yml
Labels: devops

#83 Separate Database for the files developed
  backend/auth.py
  backend/logic/assignments.py
  backend/logic/materials.py
  backend/logic/submissions.py
  backend/repo/assignments.py
  backend/repo/files.py
  backend/repo/materials.py
  backend/repo/submissions.py
  backend/routers/assignments.py
  backend/routers/materials.py
  backend/routers/submissions.py
  database/filestorage/Dockerfile
  database/filestorage/initialize.sql
  database/filestorage/pg_hba.conf
  database/filestorage/run.sh
  database/system/Dockerfile
  database/system/initialize.sql
  database/system/pg_hba.conf
  database/system/run.sh
  docker-compose.prod.yml
  docker-compose.yml
Labels: backend, database

#85 Move RUN npm install to the beginning of the dockerfiles in /frontend
  frontend/Dockerfile
  frontend/Dockerfile.prod
Labels: devops

#94 Csv grade reports
  backend/constraints.py
  backend/curltests.sh
  backend/logic/assignments.py
  backend/logic/courses.py
  backend/logic/csvtables.py
  backend/repo/assignments.py
  backend/repo/courses.py
  backend/repo/parents.py
  backend/routers/courses.py
Labels: backend

#104 Refactor database connection interaction
  .gitignore
  backend/auth.py
  backend/database.py
  backend/logic/assignments.py
  backend/logic/courses.py
  backend/logic/materials.py
  backend/logic/parents.py
  backend/logic/students.py
  backend/logic/submissions.py
  backend/logic/teachers.py
  backend/logic/users.py
  backend/main.py
  backend/routers/assignments.py
  backend/routers/courses.py
  backend/routers/materials.py
  backend/routers/parents.py
  backend/routers/students.py
  backend/routers/submissions.py
  backend/routers/teachers.py
  backend/routers/users.py
  manifesto/README.md
Labels: backend

#133 Admin account fixing
  backend/Dockerfile
  backend/curltests.sh
  backend/logic/users.py
  docker-compose.prod.yml
  docker-compose.yml
  random-secrets/.gitignore
Labels: backend, database

#135 get_admins function added
  backend/logic/users.py
  backend/routers/users.py
Labels: backend

#137 Stable frontend + new changes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AddAssignment.jsx
  frontend/src/components/AddGrade.jsx
  frontend/src/components/AddMaterial.jsx
  frontend/src/components/AddParent.jsx
  frontend/src/components/AddStudent.jsx
  frontend/src/components/AddTeacher.jsx
  frontend/src/components/CourseFeed.jsx
  frontend/src/components/CoursesTabs.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LeaveCourse.jsx
  frontend/src/components/PageMeta.jsx
  frontend/src/components/SingleCourseFeed.jsx
  frontend/src/pages/AssignmentPage.jsx
  frontend/src/pages/AuthPage.jsx
  frontend/src/pages/CoursePage.jsx
  frontend/src/pages/CoursesPage.jsx
  frontend/src/pages/MaterialPage.jsx
  frontend/src/pages/ParticipantsPage.jsx
  frontend/src/pages/SubmissionDetailPage.jsx
  frontend/src/styles/AddGrade.css
  frontend/src/styles/AddMaterial.css
  frontend/src/styles/AddParent.css
  frontend/src/styles/AddStudent.css
  frontend/src/styles/AddTeacher.css
  frontend/src/styles/AssignmentPage.css
  frontend/src/styles/CourseCard.css
  frontend/src/styles/CourseFeed.css
  frontend/src/styles/CoursePage.css
  frontend/src/styles/CourseTabs.css
  frontend/src/styles/CoursesPage.css
  frontend/src/styles/Header.css
  frontend/src/styles/LandingPage.css
  frontend/src/styles/MaterialPage.css
  frontend/src/styles/ParticipantsPage.css
  frontend/src/styles/SingleCourseFeed.css
  frontend/src/styles/UnifiedButtons.css
Labels: frontend

#145 Multiple attachments fixed
  backend/logic/assignments.py
  backend/logic/materials.py
  backend/logic/submissions.py
  backend/repo/files.py
Labels: bug, backend

#147 The 'all-grades' functions now return only accessible students
  backend/logic/courses.py
  backend/routers/courses.py
Labels: backend
