Repository IU-Capstone-Project-2025/edhub, pull requests merged in 2025-06, with the labels that each got.

#6 Remove custom network. (Run 'docker system prune', then 'reboot')
  docker-compose.yml
Labels: backend

#23 Constraints arg check
  backend/constraints.py
  backend/main.py
Labels: backend, database

#31 Addition of frontend
  frontend/.gitignore
  frontend/README.md
  frontend/components.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/auth-illustration.png
  frontend/src/assets/edhub-logo.svg
  frontend/src/assets/react.svg
  frontend/src/components/CourseCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ui/badge.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/card.jsx
  frontend/src/components/ui/input.jsx
  frontend/src/components/ui/navigation-menu.jsx
  frontend/src/components/ui/sheet.jsx
  frontend/src/index.css
  frontend/src/lib/utils.js
  frontend/src/main.jsx
  frontend/src/pages/AddMaterialPage.jsx
  frontend/src/pages/AddParentPage.jsx
  frontend/src/pages/AddStudentPage.jsx
  frontend/src/pages/AuthPage.jsx
  frontend/src/pages/CoursesPage.jsx
  frontend/src/pages/CreateCoursePage.jsx
  frontend/src/pages/OneCoursePage.jsx
  frontend/src/pages/RegisterPage.jsx
  frontend/tailwind.config.js
  frontend/vite.config.js
Labels: frontend

#33 docker set for the frontend part
  docker-compose.yml
  frontend/Dockerfile
Labels: frontend, devops

#45 The option to exit the course developed for students and parents
  backend/logic/parents.py
  backend/logic/students.py
  backend/routers/parents.py
  backend/routers/students.py
Labels: backend

#50 Db refactor
  database/initialize.sql
Labels: database

#60 Resolve unresolved merge into initialize.sql
  database/initialize.sql
Labels: bug, database
